// Переменные для цветов и размеров
$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-600: #374151;
$gray-700: #374151;
$gray-50: #f9fafb;
$black: #000;
$white: #fff;

$container-padding: 35px;
$container-padding-1280: 26px;
$container-padding-mobile: 16px;

$padding-btn: 16px 48px;
$padding-btn-1280: 12px 23px;

$transition-all: all 0.3s;
$border-radius-full: 9999px;